contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.2
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.3
packaging==23.2
pillow==10.2.0
Pint==0.23
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-dateutil==2.8.2
PyVISA==1.10.1
qasync==0.27.1
Quamash==0.6.1
scipy==1.12.0
six==1.16.0
traitlets==5.14.1
typing_extensions==4.9.0
